body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 50px;
  margin-top: 40px;
}
.nav-item {
  list-style-type: none;
  margin-left: 50px;
  font-size: 20px;
}

.hotel-name {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 45px;
}

/* Remove default style from anchor tags */
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent element */
  transition: color 0.3s, text-decoration 0.3s; /* Add smooth transition */
}

a:hover {
  color: #3b82f6; /* Change color on hover */
}

/* Custom CSS for testimonial carousel */
.carousel-item {
  display: none; /* Hide all items initially */
  align-items: center;
}

/* Show the active item */
.carousel-item.active {
  display: flex;
}

/* Styling for the image */
.person-img {
  border-radius: 20%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-right: 100px;
}

.testimonial {
  margin-top: 200px;
}

/* Styling for the testimonial text */
.testimonial-text {
  font-size: 1.5rem;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  /* Reduce the width and height of the image */
  .carousel-item img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
  }

  /* Adjust the font size of the testimonial text */
  .testimonial-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  /* Further reduce the width and height of the image */
  .carousel-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  /* Further adjust the font size of the testimonial text */
  .testimonial-text {
    font-size: 1rem;
  }

  /* Change the layout of the carousel item */
  .carousel-item {
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center-align the items */
    text-align: center; /* Center-align the text */
  }

  /* Remove the top margin from the testimonial section */
  .testimonial {
    margin-top: 100px;
  }
}

/* Media Query for screens up to 900px (tablets and smaller) */
@media (max-width: 900px) {
  .nav-menu {
    margin-right: 20px;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .hotel-name {
    font-size: 35px;
    margin-left: 10px;
  }

  .motto-container {
    width: 100%;
    margin-top: 200px;
    height: 300px;
  }

  .motto {
    font-size: 35px;
  }
}

/* Media Query for screens up to 600px (mobile devices) */
@media (max-width: 600px) {
  .nav-menu {
    margin-right: 20px;
    flex-direction: column;
    margin-top: 20px;
  }
  .hotel-name {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .motto-container {
    width: 100%;
    height: 200px;
    margin-top: 100px;
  }

  .motto {
    font-size: 25px;
  }
}
